<app-header></app-header>
<div class="container">
<div class="row justify-content-center bravo-login-form-page bravo-login-page">
<div class="col-md-5">
<div class="">
<h4 class="form-title">Login</h4>
<form class="bravo-form-login" method="POST" action="http://findhouse.bookingcore.org/login" novalidate [formGroup]="loginForm">
<input type="hidden" name="redirect" value="">
<input type="hidden" name="_token" value="BKwZDIG2QxDPQMqih3ne0dxWY1ewUG1PPWFVklqX"> 
<div class="form-group">
<input type="email" class="form-control" name="email" autocomplete="off" placeholder="Email address" formControlName="email">
<i class="input-icon fa fa-envelope-o"></i>
<div class="alert alert-danger" *ngIf="isValidInput('email')">
 <div *ngIf="loginForm.controls['email'].errors?.required">
    Email is required.
 </div>
 <div *ngIf="loginForm.controls['email'].errors?.pattern">
    Invalid format.
 </div>
</div>
</div>
<div class="form-group">
<input type="password" class="form-control" name="password" autocomplete="off" placeholder="Password" formControlName="password">
<i class="input-icon fa fa-lock"></i>
<div class="alert alert-danger" *ngIf="isValidInput('password')">
    <div *ngIf="loginForm.controls['password'].errors?.required">
        Password is required
     </div>
</div>
</div>
<div class="form-group">
<div class="d-flex justify-content-between">
<label for="remember-me" class="mb0">
<input type="checkbox" name="remember" value="1"> Remember me <span class="checkmark fcheckbox"></span>
</label>
<a routerLink="/reset">Forgot Password?</a>
</div>
</div>
<div class="error message-error invalid-feedback"></div>
<div class="form-group">
<button class="btn btn-primary form-submit" type="submit" (click)="onClick(loginForm.value)" [disabled]="!loginForm.valid">
Login
<span class="spinner-grow spinner-grow-sm icon-loading" role="status" aria-hidden="true"></span>
</button>
</div>
<div class="c-grey font-medium f14 text-center"> Do not have an account? <a href="#" data-target="#register" data-toggle="modal">Sign Up</a>
</div>
</form>
</div>
</div>
</div>
</div>
<app-footer></app-footer>