<section class="footer_one">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="footer_about_widget">
                    <h4>About Site</h4>
                    <p>We’re reimagining how you buy, sell and rent. It’s now easier to get into a place you love. So let’s do this, together.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="footer_about_widget">
                    <h4>COMPANY</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Community Blog</a></li>
                        <li><a href="#">Rewards</a></li>
                        <li><a href="#">Work with Us</a></li>
                        <li><a href="#">Meet the Team</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="footer_about_widget">
                    <h4>SUPPORT</h4>
                    <ul>
                        <li><a href="#">Account</a></li>
                        <li><a href="#">Legal</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Affiliate Program</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-3 col-xl-3">
                <div class="footer_about_widget">
                    <h4>Follow us</h4>
                    <ul class="mb30">
                        <li class="list-inline-item footer-social-icon">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="list-inline-item footer-social-icon">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li class="list-inline-item footer-social-icon">
                            <a href="#"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="list-inline-item footer-social-icon">
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </li>
                        <li class="list-inline-item footer-social-icon">
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </li>
                        <li class="list-inline-item footer-social-icon">
                            <a href="#"><i class="fa fa-google"></i></a>
                        </li>
                    </ul>
                    <h4>Subscribe</h4>
                    <form class="footer_mailchimp_form">
                        <div class="form-row align-items-center">
                            <div class="col-auto">
                                <input type="email" name="email" class="form-control mb-2" id="inlineFormInput" placeholder="Your email">
                            </div>
                            <div class="col-auto">
                                <button type="submit" class="btn btn-primary mb-2"><i class="fa fa-angle-right"></i></button>
                            </div>
                        </div>
                        <div class="form-mess"></div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer_middle_area pt40 pb40">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-6">
                <div class="footer_menu_widget">
                    <ul>
                        <li class=" depth-0"><a target="" routerLink="/index">Home</a></li>
                        <li class=" depth-0"><a target="" href="#">Property</a>
                            <ul class="children-menu menu-dropdown">
                                <li class=" depth-1"><a target="" roterLink="/property">Property List</a></li>
                                <li class=" depth-1"><a target="" href="../property/renovated-apartment-1.html">Property Detail</a></li>
                            </ul>
                        </li>
                        <li class=" depth-0"><a target="" href="#">Agencies</a>
                            <ul class="children-menu menu-dropdown">
                                <li class=" depth-1"><a target="" routerLink="/agency">Agencies</a></li>
                                <li class=" depth-1"><a target="" href="../agency/real-estate-experts.html">Agency Detail</a></li>
                                <li class=" depth-1"><a target="" routerLink="/agent">Agent List</a></li>
                                <li class=" depth-1"><a target="" href="../agent/1.html">Agent Detail</a></li>
                            </ul>
                        </li>
                        <li class=" active  depth-0"><a target="" href="#">Page</a>
                            <ul class="children-menu menu-dropdown">
                                <li class=" depth-1"><a target="" routerLink="/news">News</a></li>
                                <li class=" depth-1"><a target="" href="../news/city-spotlight-philadelphia.html">News Detail</a></li>
                                <li class=" depth-1"><a target="" routerLink="/contact">Contact</a></li>
                                <li class=" active depth-1"><a target="" routerLink="/about">About</a></li>
                            </ul>
                        </li> 
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6">
                <div class="copyright-widget text-right">
                    <p>© Findhouse. Made with love</p>
                    <div class="f-visa"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<a class="scrollToHome" href="#"><i class="flaticon-arrows"></i></a>
<div class="sign_up_modal modal fade bd-example-modal-lg" id="login" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body container pb20">
                <div class="tab-content container" id="myTabContent">
                    <div class="row mt25 tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="col-lg-6 col-xl-6">
                            <div class="login_thumb">
                                <img class="img-fluid w100" src="../assets/images/resource/login.jpg" alt="login.jpg">
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-6">
                            <div class="login_form">
                                <form action="http://findhouse.bookingcore.org/login" class="bravo-form-login" method="POST" novalidate [formGroup]="loginForm">
                                    <input type="hidden" name="_token" value="BKwZDIG2QxDPQMqih3ne0dxWY1ewUG1PPWFVklqX"> 
                                    <div class="heading">
                                        <h4>Login</h4>
                                    </div>
                                    <div class="input-group mb-2 mr-sm-2">
                                        <input type="text" class="form-control" id="inlineFormInputGroupUsername2" name="email" autocomplete="off" placeholder="Email" formControlName="email">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="flaticon-user"></i></div>
                                        </div>
                                        <div class="alert alert-danger" *ngIf="isValid('email')">
                                            <div *ngIf="loginForm.controls['email'].errors?.required">
                                               Email is required.
                                            </div>
                                            <div *ngIf="loginForm.controls['email'].errors?.pattern">
                                               Invalid format.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group form-group">
                                        <input type="password" class="form-control" id="exampleInputPassword1" name="password" autocomplete="off" placeholder="Password" formControlName="password">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="flaticon-password"></i>
                                            </div>
                                        </div>
                                        <div class="alert alert-danger" *ngIf="isValid('password')">
                                            <div *ngIf="loginForm.controls['password'].errors?.required">
                                                Password is required.
                                             </div>
                                             <div *ngIf="loginForm.controls['password'].errors?.minlength">
                                                Minimum 6 characters are required.
                                             </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="custom-control custom-checkbox">
                                            <input type="checkbox" name="remember" class="custom-control-input" id="remember-me" value="1">
                                            <span class="custom-control-label" for="exampleCheck1">Remember me</span>
                                        </label>
                                        <a class="btn-fpswd float-right" routerLink="/reset">Lost your password?</a>
                                    </div>
                                    <div class="error message-error invalid-feedback"></div>
                                    <button type="submit" class="btn btn-log btn-block btn-thm">Log In</button>
                                    <p class="text-center">Do not have an account? 
                                        <a class="text-thm" href="javascript:void(0)" data-target="#register" data-toggle="modal">Register</a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sign_up_modal modal fade bd-example-modal-lg" id="register" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body container pb20">
                <div class="tab-content container" id="myTabContent">
                    <div class="row mt25 tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="col-lg-6 col-xl-6">
                            <div class="login_thumb">
                                <img class="img-fluid w100" src="../assets/images/resource/login.jpg" alt="login.jpg">
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-6">
                            <div class="sign_up_form">
                                <form action="#" class="form bravo-form-register" method="post" 
                                action="http://imginfotech.in/propira/api/registration"
                                [formGroup]="registerForm" 
                                *ngIf ="isShown"
                                novalidate (ngSubmit)="submitForm()">
                                <div class="heading">
                                    <h4>Register</h4>
                                </div>
                                    <input type="hidden" name="_token" value="BKwZDIG2QxDPQMqih3ne0dxWY1ewUG1PPWFVklqX"> 
                                    <div class="form-group input-group">
                                        <input type="fname" class="form-control" name="first_name" autocomplete="off" placeholder="First Name"
                                        class="form-control" formControlName="fname" [(ngModel)]="person.name" >
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="flaticon-user"></i></div>
                                        </div>
                                        <div class="alert alert-danger" *ngIf="isValidInput('fname')">
                                            <div *ngIf="registerForm.controls['fname'].errors?.required">
                                                First Name is required.
                                            </div>
                                            <div *ngIf="registerForm.controls['fname'].errors?.minlength">
                                                At least 3 charcter is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group input-group">
                                        <input type="lname" class="form-control" name="last_name" autocomplete="off" 
                                        placeholder="Last Name" class="form-control" formControlName="lname">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="flaticon-user"></i></div>
                                        </div><div class="alert alert-danger" *ngIf="isValidInput('lname')">
                                            <div *ngIf="registerForm.controls['lname'].errors?.required">
                                                Last Name is required.
                                            </div>
                                            <div *ngIf="registerForm.controls['lname'].errors?.minlength">
                                                At least 3 charcter is required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group input-group">
                                        <input type="email" class="form-control" name="email" autocomplete="off" placeholder="Email address"
                                        class="form-control" formControlName="email" [(ngModel)]="person.email">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="fa fa-envelope-o"></i></div>
                                        </div>
                                        <div class="alert alert-danger" *ngIf="isValidInput('email')">
                                            <div *ngIf="registerForm.controls['email'].errors?.required">
                                                Email is required.
                                            </div>
                                            <div *ngIf="registerForm.controls['email'].errors?.pattern">
                                                Invalid format.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group input-group">
                                        <input type="mobile" class="form-control" name="mobile" autocomplete="off" placeholder="Mobile number" 
                                        formControlName="mobile"
                                        [(ngModel)]="person.mobile"
                                        #mobile>
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="flaticon-phone"></i></div>
                                        </div>
                                        <div class="alert alert-danger" *ngIf="isValidInput('mobile')">
                                            <div *ngIf="registerForm.controls['mobile'].errors?.required">
                                                Mobile number is required.
                                            </div>
                                    
                                            <div *ngIf="registerForm.controls['mobile'].errors?.pattern">
                                                Letters are not allowed.
                                            </div>
                                            <div *ngIf="registerForm.controls['mobile'].errors?.minlength">
                                                Must contain 10 digits.
                                            </div>
                                            <div *ngIf="registerForm.controls['mobile'].errors?.maxlength">
                                                Must Contain 10 digits.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group input-group">
                                        <input type="password" class="form-control" id="exampleInputPassword2" name="password" autocomplete="off" placeholder="Password"
                                        class="form-control" formControlName="password" [(ngModel)]="person.password" >
                                        <div class="input-group-prepend">
                                            <div class="input-group-text"><i class="flaticon-password"></i></div>
                                        </div>
                                        <div class="alert alert-danger" *ngIf="isValidInput('password')">
                                            <div *ngIf="registerForm.controls['password'].errors?.required">
                                                Password is required.
                                            </div>
                                            <div *ngIf="registerForm.controls['password'].errors?.minlength">
                                                Minimum 6 characters are required.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" name="term" id="exampleCheck2" formControlName="checkbox">
                                        <label class="custom-control-label" for="exampleCheck2">I have read and accept the Terms and Privacy Policy?</label>
                                    </div>
                                    <div class="alert alert-danger" *ngIf="isValidInput('checkbox')">
                                        <div *ngIf="registerForm.controls['checkbox'].errors?.required">
                                            Plaese Check.
                                        </div>
                                    </div>
                                        <button type="submit" class="btn btn-log btn-block btn-thm" (click)="addData()" [disabled]="!registerForm.valid">Sign Up</button>
                                        <p class="text-center">Already have an account?
                                            <a class="text-thm" href="javascript:void(0)" data-target="#login" data-toggle="modal">Log In</a>
                                        </p>
                                </form>
                                <form action=""  method="POST" novalidate *ngIf="show">
                                    <div id="wrapper" class="col-md-12">
                                        <div id="dialog">
                                            <h4 class="text-center"><b>Verify</b></h4>
                                            <label class="text-center">OTP has been sent to your mobile {{person.mobile}}, please enter same here to verify.</label>
                                            <div class="row" style="margin-left: 30px;">
                                                <div class="form-group">
                                                    <ng-otp-input #ngOtpInput [config]="config"
                                                    (onInputChange)="onOtpChange($event)" ></ng-otp-input>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-left: 120px;">
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary" (click)="onClick()">Submit</button>
                                                </div>
                                            </div>
                                            <span *ngIf="otp" class="o-t-p">Entered otp :-{{otp}}</span>
                                            <b>Time Left :-  </b><ngx-countdown [time]="60000" format="ss"></ngx-countdown>sec
                                            <div *ngIf="resend">
                                                Didn't receive the code?<br/>
                                                <a href="#">Send code again</a><br />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Mirrored from findhouse.bookingcore.org/page/about-us by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 May 2021 07:53:27 GMT -->
    