.feature_property_slider{
    transform: translate3d(-1170px, 0px, 0px); 
    transition: all 0s ease 0s;
    width: 6630px;
    
}
/* .item{
    width: 360px;
    margin-right: 30px;
}
.avatar{
    width: 40px;
    border-radius: 50%;
    height: 40px;
} */
.testimonial_grid_slider{
    display: inline;
    transform: translate3d(-1140px, 0px, 0px);
     transition: all 0s ease 0s;
      width: 3990px;
}
